@import 'lib/normalize'
@import 'lib/joyride.css'
@import 'nib'
@import 'functions'

html
body
  width 100%
  height 100%
  max-width 100%
  max-height 100%
  background-color #eee

#api
  visibility hidden
  height 0

#rdio-logo
  position absolute
  left 64
  bottom 0
  padding-left 10px
  padding-bottom 10px
  width 3%
  height 3%

#right
  position absolute
  top 0
  bottom 0
  right 0
  width 300px
  height 100%
  overflow hidden

#player-art
  display: block;
  background-color white
  background-image url(/img/sprite.png);
  background-position: 0px 0px;
  width 200px
  height 200px

#progress-bar
  width 300px
  height 10px
  background #bbb

#controls
  height 30px
  position relative
  user-select(none)

#previous
#next
#play-pause
  display inline-block
  width 100px
  height 30px
  line-height 30px
  text-align center
  position absolute
  cursor pointer

#next
  left 200px
  background #eee
  background-image url(/img/sprite.png)
  background-repeat no-repeat
  background-position: -0px -590px;
  &:hover
    background-position: -100px -528px;
  &.end
    cursor default
    background-position: -100px -558px;
	&:hover
	  background-position: -100px -558px;

#previous
  background #eee
  background-image url(/img/sprite.png)
  background-position: -0px -560px;
  background-repeat no-repeat
  &:hover
    background-position: -100px -588px;

#play-pause
  left 100px

.play-button
  background #eee
  background-image url(/img/sprite.png)
  background-position: -100px -468px;
  background-repeat no-repeat
  &:hover
    background-position: -0px -500px; 

.pause-button
  background #eee
  background-image url(/img/sprite.png)
  background-position: -0px -530px;
  background-repeat no-repeat
  &:hover
    background-position: -100px -498px;

#social
  height 200px
  user-select(none)

#like
#dislike
  display inline-block
  background-image url(/img/sprite.png)
  width 100px
  height 100px
  line-height 100px
  text-align center
  position absolute
  cursor pointer

#like
  top 0
  right 0
  background-position: -0px -200px;
  background-repeat no-repeat
  &:hover
    background-position: -0px -400px;
  &.disabled
    cursor default
    background-color #aaa
    &:hover
      background-position: -0px -200px;

#dislike
  top 100px
  right 0
  background-position: -100px -300px;
  background-repeat no-repeat
  &:hover
    background-position: -100px -200px;
  &.disabled
    cursor default
    background-color #aaa
    &:hover
      background-position: -100px -300px;

#fill
  height 100%
  background #80C7E3

#player-metadata
  background-color #D6FFC2

#track-header
#album-header
#artist-header
.track-header
.album-header
.artist-header
.score-header
  font-family Tahoma
  color: #009900
  font-weight bold

#map
  width calc(100% \- 300px)
  height 100%
  position fixed
  top 0
  left 0
  right 300px
  bottom 0
  overflow hidden
  background #ccc

#iw-img
#iw-overlay
  cursor pointer
  width 100px
  height 100px

#iw-img
  display inline-block
  background-size 100%

#iw-overlay
  left 0
  top 0
  display inline-block
  background-image url(/img/sprite.png)
  background-position -0px -300px
  opacity 0
  &:hover
    opacity .8

#iw-meta
  width 100%
  padding-left 5px

#search
  background #fff

#map-panel
  position absolute
  top 5px
  left calc(50% \- 250px)
  width 200px
  padding 4px
  border-radius(2px)
  z-index 5
  background-color #fff
  border 2px solid #aaa

#map-filter
  width 100%
  opacity .7

#map-loading
  position absolute
  top calc(50% \- 64px)
  z-index 5
  left calc(50% \- 214px)
  width 128px
  height 128px
  opacity 1

#search-input
  width 100%
  border 2px solid #eee

#search-results
  overflow-y auto
  .result
    position relative
    cursor pointer
    opacity .75
    transition opacity .4s
    overflow hidden
    &:hover
      opacity 1
      transition opacity .2s
    height 50px
    &:nth-child(even)
      background #fff
    &:nth-child(odd)
      background #eee
    .icon
      position absolute
      left 0
      img
        width 50px
        height 50px
    .meta
      width 245px
      position absolute
      left 55px
      .name
        padding-left 10px
      .artist, .album
        padding-left 29px
    .track-icon, .album-icon, .artist-icon
      display inline-block
      height 19px
      background-image url(/img/sprite.png)
    .track-icon
      width 19px
      background-position -157px -400px;
    .album-icon
      width 19px
      background-position -157px -419px;
    .artist-icon
      width 19px
      background-position -176px -400px;

.loading-widget
  margin auto
  position relative
  width 128px
  height 128px
  top 5px
  animation scale-fade-in 0.05s linear
  .circle
    position absolute
    background #85DB30
    width 29px
    height 29px
    border-radius 19px
    animation loading-bounce 0.8s linear infinite
    &._1
      left 0
      top 50px
      animation-delay 0.3s
    &._2
      left 14px
      top 14px
      animation-delay 0.4s
    &._3
      top 0
      left 50px
      animation-delay 0.5s
    &._4
      right 14px
      top 14px
      animation-delay 0.6s
    &._5
      right 0
      top 50px
      animation-delay 0.7s
    &._6
      right 14px
      bottom 14px
      animation-delay 0.8s
    &._7
      left 50px
      bottom 0
      animation-delay 0.9s
    &._8
      left 14px
      bottom 14px
      animation-delay 1s

@keyframes loading-bounce
  from
    transform scale(1)
    opacity 1
  to
    transform scale(0.3)
    opacity 0.2

@keyframes scale-fade-in
  from
    opacity 0
    transform scale(.5)
  to
    opacity 1
    transform scale(1)
