@import url(lib/normalize.min.css);

html, body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

body {
  background-color:#D6FFC2;
}

#right {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 300px;
  height: 100%;
}

#player-art {
  width: 300px;
  height: 300px;
  background: #fff;
}

#progress-bar {
  width: 300px;
  height: 3px;
}

#fill {
  width: 50%;
  height: 100%;
  background: #80C7E3;
}

#map {
  position: fixed;
  top: 0;
  left: 0;
  right: 300px;
  bottom: 0;
  overflow: hidden;
  background: #ccc;
}

h2 {
  text-align: center;
  font-family: Tahoma;
  color: #8B1C62;
}
