<span id="info-window">
  <input id="iw-key" type="hidden" value="{{key}}" />
  <div id="iw-img" style="background-image:url('{{image}}');"><span id="iw-overlay"></span></div>
  <span id="iw-meta">
    <div><span class="track-header">Song: </span><span id="iw-title">{{song}}</span></div> 
    <div><span class="album-header">Album: </span><span id="iw-album">{{album}}</span></div> 
    <div><span class="artist-header">Artist: </span><span id="iw-artist">{{artist}}</span></div>
    <div><span class="score-header">Score: </span><span id="iw-artist">{{score}}</span></div>
  </span>
</span>

