<span id="info-window">
  <span id="iw-key" style="display:none">{{key}}</span>
  <img id="iw-img" src="{{image}}" width=100 height=100 />
  <span id="iw-meta">
    <div><span class="track-header">Song: </span><span id="iw-title">{{song}}</span></div> 
    <div><span class="album-header">Album: </span><span id="iw-album">{{album}}</span></div> 
    <div><span class="artist-header">Artist: </span><span id="iw-artist">{{artist}}</span></div>
    <div><span class="score-header">Score: </span><span id="iw-artist">{{score}}</span></div>
  </span>
</span>

